/*
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*/

body {
    /*font-family: 'Lora', sans-serif;*/
    background-image: radial-gradient(#730273 0%, #16213e 70%);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    padding: 20px;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.9
}
/*
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background-color: #16213e;
    backdrop-filter: blur(10px);
}
nav a {
    color: #f932fc;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}
nav a:hover {
    color: #ff99cc;
}
*/
section {
    margin: 50px auto;
    width: 80%;
    padding: 30px;
    background-color: #16213e;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(255, 0, 255, 0.7);
}
h2 {
    color: #d400d4;
    font-size: 3em
}
a {
    color: #00ffe5;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section p{
    font-size: 1.5em
}
footer {
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(19, 30, 55);
    font-size: 1.2em
}