/* Основной стиль страницы */
body {
    font-family: 'Lora', sans-serif;
    background-image: radial-gradient(#610261 0%, #16213e 70%);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Заголовок */
header {
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header h1 {
    font-size: 70px;
    opacity: 0.85;
}

/* Стили для формы */
form {
    margin: 50px auto;
    width: 50%;
    padding: 30px;
    background-color: #16213e;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(255, 0, 255, 0.7);
}

/* Стили для меток, полей ввода и textarea */
label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.2em;
}

input[id="image"] {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.2em;
}

/* Стили для input и textarea */
input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

/* Стили для кнопки */
button {
    padding: 12px 24px;
    font-size: 1.5em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #d100d1, #6f21b8);
    color: white;
    border-top: 1px solid white;
    box-shadow: 0 4px 10px rgba(138, 43, 226, 0.5);
}

button:hover {
    background: linear-gradient(135deg, #ff00ff, #8e2aeb);
    transform: scale(1.07);
    box-shadow: 0 6px 15px rgba(138, 43, 226, 0.7);
}

/* Стили для секции комментариев и кнопки "Like" */
.like-button {
    padding: 12px 24px;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(135deg, #d100d1, #6f21b8);
    color: white;
    border-top: 1px solid white;
    box-shadow: 0 4px 10px rgba(138, 43, 226, 0.5);
    margin-top: 20px;
    transition: all 0.3s ease;
}

.like-button:hover {
    background: linear-gradient(135deg, #ff00ff, #8e2aeb);
    transform: scale(1.07);
    box-shadow: 0 6px 15px rgba(138, 43, 226, 0.7);
}

/* Стили для секции комментариев */
.comment {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment p {
    margin: 5px 0;
}

.comment strong {
    color: #6f21b8;
}
