body {
    font-family: 'Lora', sans-serif;
    background-image: radial-gradient(#610261 0%, #16213e 70%);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    opacity: 0.85;
    margin-top: 30px;
}

form {
    background-color: #16213e;
    width: 50%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(255, 0, 255, 0.7);
    text-align: left;
}

label {
    display: block;
    font-size: 1.2em;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

h2 {
    color: #e000e0;
    font-size: 40px;
    margin-top: 30px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 1.5em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #d100d1, #6f21b8);
    color: white;
    border-top: 1px solid white;
    box-shadow: 0 4px 10px rgba(138, 43, 226, 0.5);
    margin-top: 20px;
}

button:hover {
    background: linear-gradient(135deg, #ff00ff, #8e2aeb);
    transform: scale(1.07);
    box-shadow: 0 6px 15px rgba(138, 43, 226, 0.7);
}

a {
    color: #00ffe5;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    text-decoration: underline;
}
