<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
        <nav>
            <ul>
            <li><a href = "{% url 'for_you' %}">For you</a></li>
            <li><a href = "{% url 'scrolling' %}">Scrolling</a></li>
            <li><a href = "{% url 'top_outfits' %}">Best outfits</a></li>
            <li><a href = "{% url 'profile' %}">Profile</a></li>
            <li><a href = "{% url 'about' %}">About</a></li>
            <li><a href = "{% url 'log_out' %}">Log out</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>