<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
    <style>
        footer {
            margin-top: 50px;
            padding: 20px;
            background-color: rgb(19, 30, 55);
            font-size: 1.2em;
            color: white
        }
        a {
            color: #00ffe5;
            text-decoration: none;
        }
    </style>
    <h1>Log In</h1>
    <br>
    <form method="POST" action="{% url 'log_in' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Enter username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Enter password" name="password" required><br>

        <button type="submit">Log In</button>
    </form>
    <br>
    <p>Don't have an account? <a href="{% url 'sign_up' %}">Sign Up here</a>.</p>
    <p>By logging in, you agree to our <a href="{% url 'terms' %}">Terms and Conditions</a>.</p>

    <footer>
        {% include 'general/footer.html' %}
    </footer>
</body>
</html>