<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liked</title>
</head>
<body>
    <style>
        footer {
            margin-top: 50px;
            padding: 20px;
            background-color: rgb(19, 30, 55);
            font-size: 1.2em;
            color: white
        }
        a {
            color: #00ffe5;
            text-decoration: none;
        }
    </style>
    <h1>Your liked posts</h1>

    <section>
        <h2>Post 1: Stylish casual look</h2>
        <p><strong>User:</strong> User 1</p>
        <p><strong>Description:</strong> Stylish casual look, perfect for a weekend getaway!</p>
        <p><strong>Image:</strong> <img></p>
    </section>

    <section>
        <h2>Post 2: Classic formal style</h2>
        <p><strong>User:</strong> User 2</p>
        <p><strong>Description:</strong> Classic formal style with a modern twist!</p>
        <p><strong>Image:</strong> <img></p>
    </section>

    <section>
        <h2>Post 3: Casual and comfy</h2>
        <p><strong>User:</strong> User 3</p>
        <p><strong>Description:</strong> Casual and comfy, perfect for a day at the park!</p>
        <p><strong>Image:</strong> <img></p>
    </section>

    <footer>
        <p><a href="{% url 'profile' %}">Back to profile</a></p>
        {% include 'general/footer.html' %}
    </footer>
</body>
</html>