<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

    <h1>Your profile</h1>

    <section>
        <h2>Personal Information</h2>
        <p><strong>Username:</strong> <i>{{ user.username }}</i></p>
        <p><strong>Email:</strong> <i>{{ user.email }}</i></p>
    </section>

    <section>
        <h2>Body Measurements</h2>
        <p><strong>Height:</strong><i>{{ info.height }}</i> </p>
        <p><strong>Weight:</strong><i>{{ info.weight }}</i> </p>
        <p><strong>Chest:</strong><i>{{ info.chest}}</i> </p>
        <p><strong>Waist:</strong><i>{{ info.waist }}</i> </p>
        <p><strong>Hips:</strong><i>{{ info.hips }}</i> </p>
    </section>

    <section>
        <h2>About Me</h2>
        <p><i>{{ info.about_me }}</i></p>
    </section>

    <section>
        <h2>Quick Links</h2>
        <p><a href="{% url 'gallery_liked' %}">View Liked Posts</a></p>
        <p><a href="{% url 'profile_edit' %}">Edit Profile</a></p>
    </section>
</body>
</html>