<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best Outfits</title>
</head>
<body>
    <h1>Fashion Posts</h1>
    <a href="{% url 'make_post' %}">Create New Post</a>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" width="300"><br>
                {% endif %}
                <p>{{ post.description }}</p>
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>