<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover</title>
</head>
<body>
    <style>
        footer {
            margin-top: 50px;
            padding: 20px;
            background-color: rgb(19, 30, 55);
            font-size: 1.2em;
            color: white
        }
        a {
            color: #00ffe5;
            text-decoration: none;
        }
    </style>

    <h1>Discover Fashion</h1>
    <p>Swipe to choose your favorite looks!</p>

    <div>
        <div id="card1">
            <img>
            <h3>User 1</h3>
            <p>Stylish casual look, perfect for a weekend getaway!</p>
            <button>Like</button>
            <button>Dislike</button>
        </div>

        <div id="card2">
            <img>
            <h3>User 2</h3>
            <p>Classic formal style with a modern twist!</p>
            <button>Like</button>
            <button>Dislike</button>
        </div>

        <div id="card3">
            <img>
            <h3>User 3</h3>
            <p>Casual and comfy, perfect for a day at the park!</p>
            <button>Like</button>
            <button>Dislike</button>
        </div>

    </div>

    <footer>
        {% include 'general/footer.html' %}
    </footer>
</body>
</html>
